:root {
  /* colors */
  /* https://www.canva.com/colors/color-wheel/print/deb93a+84c8b2+e89753/ */
  /*
60% of #84C8B2 - Dominant
30% of #DEB93A - Secondary
10% of #E89753 - Accent
*/

  --dominantColor: #84c8b2; /* var(--dominantColor) !important; */
  --secondaryColor: #deb93a; /* var(--secondaryColor) !important; */
  --accentColor: #e89753; /* var(--accentColor) !important; */

  /*box shadow*/
  /*cssmatic*/
  /*https://shadows.brumm.af/*/
  /* vertical, horizontal, blur, spread, color+apacity*/
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /* var(--boxShadow) !important; */
}
